.page {
  font-family: "Inter", "arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  background-image: url("../images/background_header.svg");
  background-position: center;
  background-size: cover;
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.nav__logo {
  position: relative;
  width: 105px;
  height: 39px;
  left: -50px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.header__title {
  font-size: 58px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: -1px;
  max-width: 709px;
  margin: 183px 0 0;
}

.span-accent {
  display: block;
  font-family: "Noto Serif", "Time New Roman", "serif";
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif", "Time New Roman", "serif";
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  box-sizing: border-box;
  align-items: end;
  justify-content: space-between;
  margin-top: auto;
}

.header__paragraph {
  font-weight: 500;
  color: #838383;
  margin: 0;
}

.recipes {
  background-image: url("../images/background_recipes.svg");
  background-size: cover;
  background-position: center;
  background-color: #0a2750;
  padding: 100px 80px 215px;
}

.recipes__title {
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  max-width: 580px;
  margin: 0;
  color: white;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Time New Roman", "serif";
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin: 24px 0 0;
  color: white;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  list-style-type: none;
  padding: 0;
  margin: 80px 0 0;
}

.recipes__video-item {
  position: relative;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 24px 0 0;
  color: white;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-position: center;
  padding: 100px 0 120px;
}

.reservation__title {
  max-width: fit-content;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 auto 80px;
}

.form {
  max-width: 385px;
}

.reservation__form {
  margin: 0 auto;
}

.form__fieldset {
  display: flex;
  row-gap: 32px;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.form__label {
  font-weight: 500;
}

.form__input {
  width: 100%;
  height: 60px;
  padding: 15px 20px;
  margin-top: 8px;
  box-sizing: border-box;
  border: #838383 solid 1px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  height: 60px;
  border-radius: 4px;
  border-color: transparent;
  background-color: #2f80ed;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.form__button:hover {
  opacity: 70%;
}

.form__label_centralized {
  display: flex;
  margin: 0 auto;
  align-items: center;
  column-gap: 12px;
}

.form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.form__checkbox + span {
  background-color: #fff;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: #838383 solid 1px;
  border-radius: 2px;
}

.form__checkbox:checked + span {
  background-color: #2f80ed;
  border: #2f80ed solid 1px;
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}
